.navbar {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    padding-right: 40px;
}

.navbar a {
    /* color: white; */
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}